pydantic>=2.8.2
boto3
xmltodict
colorama
pyyaml
pytest
faiss-cpu==1.9.0
thefuzz
langchain_huggingface
langchain_aws
llama-index-embeddings-bedrock
ipykernel
torch
transformers>=4.44.2
numpy>=1.26.4
scipy>=1.15.3
